@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    user-select: none;
    font-family: 'Roboto', sans-serif;
}

.none-js {
    display: none;
}

.block-js {
    display: block;
}

.Header {
    height: 5vh;
    padding: 0.75vh;
    background-color: rgb(39, 142, 211);
    box-shadow: 0 3px 6px #858181;
    display: grid;
    grid-template-columns: 1fr 20fr;
}

.Header__logo {
    width: 4vh;
    height: 4vh;
    margin-left: 5px;
    margin-top: 4px;
}

.Header__logo-img {
    width: 4vh;
    height: 4vh;
}

.Header__name {
    text-align: right;
    padding-right: 5vw;
    padding-top: 0.5vh;
    font-size: 24px;
}

.Menu {
    height: 93.25vh;
    width: 14vw;
    margin-top: 0.25vh;
    float: left;
    background-color: #eeeeee;
    box-shadow: 3px 0 6px #aaaaaa;
}

a {
    outline: none;
    color: #000000;
    text-decoration: none;
}

.Menu__home,
.Menu__statistic,
.Menu__subject,
.Menu__settings {
    width: 12vw;
    height: 5vh;
    padding-top: 1.75vh;
    font-size: 20px;
    transition: all 0.2s ease;
    padding-left: 2vw;
}

.Menu__home:hover,
.Menu__statistic:hover,
.Menu__subject:hover,
.Menu__settings:hover {
    background-color: #aaaaaa;
}

.Home,
.Statistic,
.Subjects,
.Settings {
    height: 93.25vh;
    width: 85vw;
    position: absolute;
    left: 0;
    top: 0;
}

.div {
    margin-top: 0.25vh;
    margin-left: 1vw;
    height: 93.25vh;
    width: 85vw;
    position: relative;
    float: left;
}

.Subjects__block {
    width: 60vw;
    padding: 10px;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Subjects__block div {
    width: 8vw;
    height: 10vh;
    box-shadow: 0 0 10px #aaaaaa;
    background-color: #eeeeee;
    margin: auto;
    font-size: 22px;
    color: rgb(58, 55, 55);
    text-align: center;
    padding-top: 6vh;
    margin-top: 4vh;
}

.Subjects__plus {
    width: 4vw;
    height: 2.6vw;
    border-radius: 50%;
    background-color: #1073cf;
    text-align: center;
    padding-top: 1.4vw;
    transition: all 0.5s ease;
    position: absolute;
    left: 70vw;
    top: 70vh;
}

.Subjects__plus:hover {
    background-color: #0b80ee;
}

.Subjects__plus-img {
    width: 1vw;
    height: 1vw;
}

.Subjects__plus-window {
    width: 30vw;
    height: 24vh;
    box-shadow: 0 0 10px #aaaaaa;
    position: absolute;
    left: 30%;
    top: 10%;
    display: none;
}

.Subjects__plus-cross {
    width: 1.2vw;
    height: 1.2vw;
    margin-top: 1.5vh;
    margin-left: 28vw;
    transition: all 0.2s ease;
    font-size: 16px;
    text-align: center;
}

.Subjects__plus-cross:hover {
    background-color: red;
}

.Subjects__plus-window input {
    border: none;
    border-bottom: 1px solid #aaaaaa;
    width: 24vw;
    font-size: 16px;
    padding: 5px;
    height: 2vh;
    margin-left: 2vw;
    margin-top: 4vh;
    outline: none;
}

.Subjects__plus-window button {
    width: 6vw;
    height: 3.5vh;
    padding: 5px;
    color: white;
    text-align: center;
    font-size: 16px;
    border: none;
    outline: none; 
}

.Subjects__plus-create {
    background-color: rgb(15, 158, 15);
    margin-top: 6vh;
    margin-left: 13vw;
}

.Subjects__plus-delete {
    background-color: rgb(231, 22, 22);
    margin-top: 6vh;
    margin-left: 1vw;
}